.projects {
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
    padding: 0 20px;
    
}

.projects h2 {
    font-size: var(--sectionHeading);
    color: var(--risingSun);
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.projectDownArrow {
    animation-name: projectDownArrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: var(--white);
}

@keyframes projectDownArrow {
    0% {
        opacity: 1;
    }


    50% {
        opacity: 0.3;
    }
    
    100% {
        opacity: 1;
    }
}

.projectsSection {
    display: flex;
    flex-direction: column;
}

.projectsContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    background: var(--darkGray);
    padding: 30px;
    gap: 30px;
    height: 450px;
    border-radius: 8px;
}

.projectImage {
    width: 50%;
    border-radius: 8px;
}

.projectBox {
    background: var(--lightGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.projectBox h3 {
    font-size: var(--subHeading);
    color: var(--white);
    padding-block: 20px;
}

.projectBox p {
    font-size: var(--p);
    color: var(--white);
    padding-block: 20px;
}

.lang {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 10px;
 padding-block: 20px;
}

.lang span {
    font-size: var(--p);
    border: 2px solid var(--risingSun);
    color: var(--white);
    padding: 12px 16px;
   
}

.projectBtns {
    display: flex;
    gap: 20px;
    
}

.projectBtns button {
    color: var(--white);
    background: var(--risingSun);
    padding: 16px 24px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: fit-content;
}

.projectBtns button:hover {
    border: 1px solid var(--white);
}

/* ****************************************************************
/* ****************************************************************
Media Queries
*****************************************************************
*****************************************************************/


@media screen and (max-width: 1024px) {

    .projectBox h3 {
        font-size: 3.6rem;
    }
    
    .projectBox p {
        font-size: 1.4rem;
    }

    .lang span {
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 768px) {

    .projectsContainer {
        flex-wrap: wrap;
        height: fit-content;
    }
    
    .projectImage {
        width: 100%;
    }
    
    .projectBox {
        width: 100%;
    }
    
    .projectBox h3 {
        font-size: 3.6rem;
    }
    
    .projectBox p {
        font-size: 1.4rem;
    }

    .lang span {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 480px) {
    .projects h2 {
        font-size: 2.8rem;
    }

    .projectBox h3 {
        font-size: 2.8rem;
        padding-block: 10px;
    }
    
    .projectBox p {
        font-size: 1.2rem;
        padding-block: 10px;
    }

    .lang span {
        font-size: 1.2rem;
        padding: 6px 10px;
       
    }

    .projectBtns button {
        padding: 8px 12px;
    }

}