.main {
    width: 100%;
    height: 94vh;
    max-width: var(--maxWidth);
    margin: auto;
    padding: 0 20px;
}

.heroText {
    padding: 300px 0 20px 0;
}

.heroText h2 {
    font-size: var(--subHeading);
    font-weight: 300;
    color: var(--white);
    margin-bottom: 20px;
}

.heroText h2 > span {
    font-size: var(--subHeading);
    font-weight: 300;
    color: var(--risingSun);
}

.heroText h1 {
    font-size: var(--heading);
    font-weight: 400;
    color: var(--white);
    padding: 10px 0;
}

.heroText h1 > span {
    font-size: var(--heading);
    color: var(--risingSun);
    padding: 10px 0;
}

.heroText p {
    font-size: var(--p);
    color: var(--white);
    max-width: 550px;
}


/* ****************************************************************
Media Queries
*****************************************************************
*****************************************************************/


@media screen and (max-width: 568px) {
    .main {
        height: 820px;
    }
    
    
    .heroText {
        padding: 300px 0 20px 0;
    }

    .heroText h2 {
        font-size: 3.2rem;
        margin-bottom: 10px;
    }

    .heroText h2 > span {
        font-size: 3.2rem;
    }

    .heroText h1 {
        font-size: 3.6rem;
    }

    .heroText h1 > span {
        font-size: 3.6rem;
    }

    .heroText p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 488px) {
    .main {
        height: 840px;
    }
}
@media screen and (max-width: 444px) {
    .main {
        height: 900px;
    }
}
@media screen and (max-width: 407px) {
    .main {
        height: 930px;
    }
}
@media screen and (max-width: 351px) {
    .main {
        height: 950px;
    }
}
@media screen and (max-width: 346px) {
    .main {
        height: 1000px;
    }
}

@media screen and (max-width: 313px) {
    .main {
        height: 1050px;
    }
}