.imageContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.cloudTop {
    width: 500px;
    position: absolute;
    top: 13vh;
    animation-name: moveCloud;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes moveCloud {
    0% {
        left: -35%;
    }

    100% {
        left: 110%;
    }
}

.cloudDownArrow1 {
    animation-name: cloudDownArrow1;
    position: absolute;
    top: 34vh;
    font-size: 8.0rem;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: var(--risingSun);
}

@keyframes cloudDownArrow1 {
    0% {
        opacity: 0;
        left: -25%;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
        left: 120%;
    }
}

.cloudDownArrow2 {
    animation-name: cloudDownArrow2;
    position: absolute;
    top: 26vh;
    font-size: 8.0rem;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: var(--risingSun);
}

@keyframes cloudDownArrow2 {
    0% {
        opacity: 0;
        left: -19%;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    52% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
        left: 126%;
    }
}

/* ****************************************************************
/* ****************************************************************
Media Queries
*****************************************************************
*****************************************************************/
@media screen and (max-width:1700px) {  
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -22%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 123%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -15%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 131%;
        }
    }
}

@media screen and (max-width:1250px) {   
    .cloudDownArrow1 {
        top: 32vh;
    }

    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -17%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 128%;
        }
    }
    
    .cloudDownArrow2 {
    top: 24vh;
    }

    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -10%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 135%;
        }
    }
}
@media screen and (max-width:1120px) { 
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -15%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 130%;
        }
    }
      
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -7%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 138%;
        }
    }
}
@media screen and (max-width:1024px) { 
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -13%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 132%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -7%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 138%;
        }
    }
}
@media screen and (max-width:978px) { 
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -15%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 130%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -4%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 141%;
        }
    }
}
@media screen and (max-width:878px) { 
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -10%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 1;
        }
    
        60% {
            opacity: 0;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 135%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -2%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 144%;
        }
    }
}
@media screen and (max-width:800px) { 
    .cloudDownArrow2 {
        top: 27vh;
    }

    @keyframes moveCloud {
        0% {
            left: -75%;
        }
    
        100% {
            left: 110%;
        }
    }
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -50%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 135%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -30%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 155%;
        }
    }
}
@media screen and (max-width:690px) {
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -40%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 145%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -25%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 160%;
        }
    }
}
@media screen and (max-width:580px) {
    @keyframes moveCloud {
        0% {
            left: -75%;
        }
    
        100% {
            left: 110%;
        }
    }
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -40%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 145%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -5%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 180%;
        }
    }
}
@media screen and (max-width:568px) {
    .imageContainer {
        height: 900px;
    }
    .cloudTop {
        width: 400px;
        top: 13vh;
    }
    .cloudDownArrow1 {
        top: 29vh;
    }

    .cloudDownArrow2 {
        top: 23vh;
    }

    @keyframes moveCloud {
        0% {
            left: -75%;
        }
    
        100% {
            left: 110%;
        }
    }

    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -50%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 135%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -25%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 160%;
        }
    }
}
@media screen and (max-width:468px) {
    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -40%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        60% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 145%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -25%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 0;
        }
    
        52% {
            opacity: 1;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 160%;
        }
    }
}

@media screen and (max-width:385px) {

    .cloudDownArrow1 {
        top: 30vh;
    }

    .cloudDownArrow2 {
        top: 24vh;
    }

    @keyframes cloudDownArrow1 {
        0% {
            opacity: 0;
            left: -30%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 1;
        }
    
        60% {
            opacity: 0;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 145%;
        }
    }
    
    @keyframes cloudDownArrow2 {
        0% {
            opacity: 0;
            left: -5%;
        }
    
        20% {
            opacity: 0;
        }
    
        50% {
            opacity: 1;
        }
    
        52% {
            opacity: 0;
        }
    
        70% {
            opacity: 0;
        }
        
        100% {
            opacity: 0;
            left: 170%;
        }
    }
}
