.socialSection {
    display: flex;
    gap: 13px;
    margin-top: 20px;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--risingSun);
    border-radius: 30px;
    font-size: 40px;
    color: var(--white);
    padding: 8px;
    cursor: pointer;
}

.socialContainer:hover {
    color: var(--risingSun);
    border: 2px solid var(--white);
    transition: .8s ease-in-out;
}