.social {
    font-size: 50px;
    margin: 20px;
    border: 2px solid var(--black);
    border-radius: 30px;
    padding: 5px;
}

.social:hover {
    color: var(--risingSun);
    transition: .8s ease-in-out;
}