.formContainer {
    width: 100%;
    max-width: var(--maxWidth);
    background: var(--darkGray);
    border-radius: 8px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 450px;
    padding: 30px;
    gap: 30px;
}

.formTextSection {
    background: var(--lightGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 100%;
}

.formTextSection h3 {
    font-size: var(--subHeading);
    color: var(--white);
    padding: 20px;
}

.formTextSection span {
    font-size: var(--subHeading);
    color: var(--risingSun);
    padding: 20px;
}

.formTextSection p {
    font-size: var(--p);
    color: var(--white);
    padding: 20px;
}

.formForm {
    background: var(--lightGray);
    padding: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

.formForm input, .formForm textarea {
    margin: 20px 0;
    background: var(--white);
    padding: 8px 10px;
    border: 2px solid var(--risingSun);
    outline: none;
    color: var(--background);
}

.formForm textarea {
    height: 100px;
    outline: none;
}

.formForm button {
    color: var(--white);
    background: var(--risingSun);
    padding: 16px 24px;
    width: fit-content;
    margin: 20px 0;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.formForm button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}


/* ****************************************************************
/* ****************************************************************
Media Queries
*****************************************************************
*****************************************************************/
@media screen and (max-width: 1024px) {
    .formTextSection h3 {
        font-size: 3.6rem;
    }
    
    .formTextSection span {
        font-size: 3.6rem;
    }   
}

@media screen and (max-width: 768px) {
    .formContainer {
        flex-wrap: wrap;
        height: fit-content;
    }
    
    .formTextSection {
        width: 100%;
    }

    .formForm {
        width: 100%;
    }

    .formForm input, .formForm textarea {
        margin: 10px 0;
        padding: 6px 8px;
    }
    
    .formForm button {
        padding: 12px 18px;
        margin: 10px 0;
    }

    .formTextSection h3 {
        font-size: 3.2rem;
    }
    
    .formTextSection span {
        font-size: 3.2rem;
    }
    
}
@media screen and (max-width: 480px) {
    .formTextSection h3 {
        font-size: 2.8rem;
        padding-block: 10px;
    }
    
    .formTextSection span {
        font-size: 2.8rem;
        padding-block: 10px;
    }
    
    .formTextSection p {
        font-size: 1.2rem;
        padding-block: 10px;
    }
}