:root {
  --background: #3b383f;
  --lightGray: #47444a;
  --darkGray: #302e34;
  --white: #e3e1d4;
  --black: #070707;
  --risingSun: rgba(209, 64, 67, 1);
  --maxWidth: 1200px;
  --subHeading: 3.2rem;
  --sectionHeading: 4.2rem;
  --heading: 5.6rem;
  --p: 1.8rem;
  --links: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: var(--background);
}
