header {
    width: 100%;
    background: rgba(49, 46, 46, 0.41);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(49, 46, 46, 0.02);
    position: fixed;
    z-index: 50;
    padding: 0 20px;
}

.nav {
    width: 100%;
    max-width: var(--maxWidth);
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navLinks li a{
    text-decoration: none;
    font-size: var(--links);
    color: var(--white);
}

.navLinks li a:hover{
    text-decoration: underline;
    color: var(--risingSun);
    transition: .3s ease-in-out;
}

/* ****************************************************************
/* ****************************************************************
Media Queries
*****************************************************************
*****************************************************************/


@media screen and (max-width:1200px) {

}